*{
    padding: 0;
    margin: 0;
}
.first_section{
    /* width: 100px; */
    height : 430px;
    background-color : #F4E0B9;
}
.second_section{
    height: 430px;
    background-color: #A8A196;
}
.third_section{
    height: 350px;
    background-color: rgb(202, 157, 20);
}
img{
    width: 200px;
    height: 160px;
    margin-top: 150px;
    margin-left: 70px;
}